#mainLoader {
	z-index:99999;
	background:#fff;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	@include opacity(1);
	@include transition(opacity 0.3s ease-in-out);

	.buffer {
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-24px;
		margin-left:-24px;
		width:48px;
		height:48px;
		background:url($path-img + "static/buffer.png")no-repeat;
		@include animation(rotation_0_360 0.3s infinite linear);
	}
}

#usualLoader {
	@include opacity(0);
	position: absolute;
	z-index: 99999;
	width: 100%;
	height:3px;
	top:0;

	&.opaque {
		@include opacity(1);
	}

	.progress {
		background:#ccc;
		position:absolute;
		top:0;
		height:100%;
		left:0;
		width:0;
	}
}