
	// _|_|_|                _|      _|
	// _|    _|    _|_|_|  _|_|_|_|  _|_|_|
	// _|_|_|    _|    _|    _|      _|    _|
	// _|        _|    _|    _|      _|    _|
	// _|          _|_|_|      _|_|  _|    _|

$path-dist: "../";
$path-public: $path-dist;
$path-css: $path-public + "css/";
$path-img: $path-public + "img/";
$path-webfonts: $path-dist + "fonts/";

	// _|_|_|_|                      _|
	// _|        _|_|    _|_|_|    _|_|_|_|    _|_|_|
	// _|_|_|  _|    _|  _|    _|    _|      _|_|
	// _|      _|    _|  _|    _|    _|          _|_|
	// _|        _|_|    _|    _|      _|_|  _|_|_|
$font-opensans-regular : "Helvetica, Arial, Sans-Serif";


	//   _|_|_|            _|
	// _|          _|_|    _|    _|_|    _|  _|_|    _|_|_|
	// _|        _|    _|  _|  _|    _|  _|_|      _|_|
	// _|        _|    _|  _|  _|    _|  _|            _|_|
	//   _|_|_|    _|_|    _|    _|_|    _|        _|_|_|